@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #252525;
  color: #999991;/*#859565;*/
  font-family: sans-serif;
}

a {
  color: #555;
}

small {
  font-size: 0.68em;
}

canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

hr {
  border-color: #333;  
}

/* classes */

html body .body-content {
  position: absolute;
  top: 50px;
  bottom: 50px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

a.thumbnail {
  background: #252525;
  border-color: #453545;
}

a.thumbnail:hover {
}

/* IDs */

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#main-content {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

#main-text {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

#title {
  position: relative;
  min-height: 220px;
  letter-spacing: 40px;
}

#title h2 {
  font-size: 65px;
  font-family: "Ubuntu";
  font-weight: 600;
  line-height: 50px
}



/* WAVE Effect */
/* by an inspiration from shillingburg.co */

.w {
  -webkit-animation: wave 3s infinite;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(2px, -2px);
    text-shadow: -5px 5px 0px rgba(220, 39, 255, 0.2);
  }
  
  50% {
    -webkit-transform: translate(0px, 2px); 
    text-shadow: 0px 0px 0px rgba(220, 39, 73, 0.7);
  }
  
  100% { 
    -webkit-transform: translate(2px, -2px); 
    text-shadow: -5px 5px 0px rgba(220, 39, 255, 0.2);
  }
}
